@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&family=Markazi+Text:wght@400;500&display=swap');

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10rem;
  padding-bottom: 2rem;
  align-items: center;
}

.about-info {
  max-width: 30%;
}

#about-title {
  font-size: 64px;
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}

#about-subtitle {
  margin-top: -3.5rem;
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  color: #EDEFEE;
  font-weight: 400;
}

#about-text {
  margin-top: -1.5rem;
  margin-bottom: 3rem;
  max-width: 70%;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  color: #EDEFEE;
  font-weight: 400;
}

#about-button {
  text-decoration: none;
  color: #333333;
  background-color: #F4CE14;
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 0.5rem 2.5rem;
}

#about-button:hover {
  background-color: #c4a507;
}
.about-photo {
  margin: 1rem;
  width: 30%;
  border-radius: 25px;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}