@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&family=Markazi+Text:wght@400;500&display=swap');

.description-container {
  margin: 5rem 7rem 0 5rem;
  display: flex;
}

.description-text {
  width: 50%;
}

.description-images {
  width: 50%;
  margin-left: 5rem;
}

.description-title {
  font-size: 64px;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
}

.description-subtitle {
  margin-top: -3.5rem;
  font-family: 'Markazi Text', serif;
  font-size: 40px;
  font-weight: 400;
}

.description-paragraph {
  color: #000;
  font-family: Karla,sans-serif;
  font-size: 18px;
  line-height: 1.7em;
  margin-top: -1em;
}

.description-image-1 {
  z-index: -1;
  margin-left: 13rem;
  width: 70%;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
  border-radius: 16px;
}

.description-image-2 {
  z-index: 1;
  margin-left: 0.5rem;
  width: 70%;
  margin-top: -3.5rem;
  box-shadow: 3px 3px 15px rgba(0,0,0,.2);
  border-radius: 16px;
}
