.nav-container {
  margin: 0 5rem;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 20px;
}

.nav-links {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
}

.nav-links li a, .navlink {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-links li {
  transition: transform ease 300ms;
}

.nav-links li:hover {
  transform: translate(0, -5px);
}
.nav-logo {
  width: 45%;
}
@media (max-width: 768px) {
  .nav-container {
    grid-template-rows: auto auto 1fr; 
    grid-template-columns: 1fr; 
    justify-content: center; 
    text-align: center;
    margin: 0 auto;
    gap: 3rem;
  }

  .nav-logo {
    margin: 0 auto;
    width: 65%; 
  }

  .nav-links {
    grid-auto-flow: column; 
    text-align: center; 
    gap: 10px; 
  }
}

.main-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr 0.7fr;
}

.about-container, .testimonials-container {
  background-color: #495e57;
}

